<h1>New Application</h1>

<%= form_with scope: :app, url: apps_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :ip %><br>
    <%= form.text_field :ip %>
  </p>
  <p>
    <%= form.label :command %><br>
    <%= form.text_field :command %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', apps_path %>
